@font-face {
    font-family: 'feu';
    src: url('flaming_tears.ttf');
}
@font-face {
    font-family: 'feuBis';
    src: url('black_fire.ttf');
}
@font-face {
    font-family: 'feuTer';
    src: url('Flame.ttf');
}

#center{
    display: flex;
    justify-content: center;
}
img{
    width: 8em;
    height: 8em;;
}
h1{
    text-align: center;
    font-family: feuTer;
    font-size: 2.4em;
/*    background-image: linear-gradient(red, black);*/
    color: #E01703;
}



#all{
    z-index: 0;
    position: absolute;
    top:0;
    background-color: black;
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
}
body{
    margin: 0;
    padding: 0;
    background-color: black;
}
.subtitle{
    width: 100%;
    height: 2.5em;
    font-size: 0.8em;
    text-align: center;
    margin: 0;
    padding: 0;
}
.right{
    width: 90%;
    height: 2.5em;
    font-size: 0.8em;
    text-align: right;
    margin: 0;
    margin-top: 3em;
    padding: 0;
}
p{
    margin-left: 0.2em;
    margin-right: 0.2em;
    
    color: white;
    text-align: justify;
    margin-bottom: 0.5em;
}
@media all and (min-width: 600px)
{
    p{
        width: 70%;
        margin: auto;
        margin-bottom: 0.5em;
    }
}
@media all and (min-width: 800px)
{
    p{
        width: 50%;
        margin: auto;
        margin-bottom: 0.5em;
    }
}
@media all and (min-width: 1000px)
{
    p{
        width: 40%;
        margin: auto;
        margin-bottom: 0.5em;
    }
}
#description::first-letter{
    margin-left: 1em;
}




#space{
    height: 5em;
}




#bts{    
    margin: 0;
    padding: 0;
    
    z-index: 10;
    width: 100%;
    
    position: fixed;
    bottom: 0;
    
    display: flex;
    justify-content: center;
    
    background-color: rgba(0, 0, 0, .8);
}
.bt{
    font-family: feuBis;
    font-weight: bold;
    padding: 0.2em;
    margin: auto;
    font-size: 1.4em;
    text-align: center;
    width: 7em;
    border-radius: 4em;
    border: 2px white solid;
}
a{
    text-decoration: none;
    color: white;
    text-align: center;
}
#bt1{
    background: grey;
}
#bt2{
    background: black;
}