header{
    display: flex;
    align-items: center;
    flex-direction: column;
    align-content: center;
}
h1{
    margin: 0.1em;
    padding: 0.1em;
    text-align: center;
    color: green;
    font-size: 1.6em;
}
#nom{
    margin: 5px;
}





body{
    margin: 0;
    padding: 0;
    background-color: white;
}
#canvas{
    z-index: 0;
    margin: 0;
    padding: 0;
    background-color: saddlebrown;
}
#center{
    width: 100%;
    display: flex;
    align-content: center;
    align-items: center;
    justify-content: center;
}
p{
    margin: 0;
    padding: 0;
    font-size: 0.8em;
    font-weight: bolder;
}
.centered{
    text-align: center;
    font-size: 1em;
}
@media all and (min-width: 600px)
{
    p{
        font-size: 1em;
    }
}
@media all and (min-width: 800px)
{
    p{
        font-size: 1.2em;
    }
}
@media all and (min-width: 1000px)
{
    p{
        font-size: 1.4em;
    }
}






#reglages{
    display: flex;
    justify-content: center;
    align-items: center;
    
    
    width:100%;
    
    position: fixed;
    bottom: 32px;
    
}
#cadre{
    display: flex;
    justify-content: center;
    align-items: center;
    
    padding: 0.1em;
    
    border: 2px grey dashed;
}
label{
    padding-left: 0.2em;
    padding-right: 0.2em;
    background-color: lightgray;
}
#cote_txt{
    height: 1em;
}
#default_cote{
    height: 1.5em;
    font-size: 0.8em;
}
#cote_txt{
    width:3em;
}



#commandes{
    margin: 0;
    padding: 0;
    
    z-index: 10;
    width: 100%;
    
    position: fixed;
    bottom: 0;
    
    display: flex;
    justify-content: space-around;
    align-content: center;
}
#start{
    font-size: 20px;
    background-color: lightcoral;
    color: darkred;
}
#results{
    font-size: 20px;
    background-color: lightgray;
    color: darkgray;
}
#nvJoueur{
    font-size: 20px;
    background-color: gold;
    color: goldenrod;
}


#center{
    background-color: white;
    width: 100%;
    align-content: center;
}
#nvPartie{
    font-size: 20px;
    background-color: lightgreen;
    color: darkgreen;    
}




#classement{
    background-color: white;
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 100;
    display: none;
}
#classement p{
    width: 100%;
    text-align: center;
    color: red;
    font-size: 3em;
}
.nomJoueur{
    color: green;
}
.scoreJoueur{
    color: grey;
}
.ligne{
    background-color: white;
    margin: 2;
    display: flex;
    align-items: center;
}
.medal{
    height: 5em;
}