header{
    z-index: 0;
    margin-left: 0;
}

h1{
    margin: 0.1em;
    padding: 0.1em;
    text-align: center;
    color: green;
    font-size: 1.6em;
}
body{
    margin: 0;
    padding: 0;
    background-color: white;
}
#canvas{
    z-index: 0;
    margin: 0;
    padding: 0;
    background-color: saddlebrown;
}



#resultats{
    z-index: 1;
    position: fixed;
    top: 3.4em;
    left: 0;
    margin-left: 0;
    width: 100%;
    display: none;
}
#center{
    width: 100%;
    display: flex;
    align-content: center;
    align-items: center;
    justify-content: center;
}
#left{
    margin-right: 5px;
}
#left p{
    text-align: right;
}
#right{
    margin-left: 5px;
}
h2{
    padding: 0;
    margin: 0;
    font-size: 1.6em;
    text-align: center;
    text-decoration: underline;
}
p{
    margin: 0;
    padding: 0;
    font-size: 0.8em;
    font-weight: bolder;
}
.centered{
    text-align: center;
    font-size: 1em;
}
#score{
    color: red;
    font-size: 4em;
    font-weight: 900;
}
#titre2{
    padding-bottom: 0;
    margin-bottom: 0;
}
@media all and (min-width: 600px)
{
    p{
        font-size: 1em;
    }
    #score{
        font-size: 5em;
    }
}
@media all and (min-width: 800px)
{
    p{
        font-size: 1.2em;
    }
    #score{
        font-size: 7em;
    }
}
@media all and (min-width: 1000px)
{
    p{
        font-size: 1.4em;
    }
    #score{
        font-size: 9em;
    }
}




#reglages{
    display: flex;
    justify-content: center;
    align-items: center;
    
    
    width:100%;
    
    position: fixed;
    bottom: 2.1em;
    
}
@media all and (min-width: 600px)
{
    #reglages{
        bottom: 0;
    }
}
#cadre{
    display: flex;
    justify-content: center;
    align-items: center;
    
    padding: 0.1em;
    
    border: 2px grey dashed;
}
label{
    padding-left: 0.2em;
    padding-right: 0.2em;
    background-color: lightgray;
}
#cote_txt{
    height: 1em;
}
#default_cote{
    height: 1.5em;
    font-size: 0.8em;
}
#cote_txt{
    width:3em;
}





#commandes{
    margin: 0;
    padding: 0;
    
    z-index: 10;
    width: 100%;
    
    position: fixed;
    bottom: 0;
    
    display: flex;
    justify-content: space-around;
    align-content: center;
}
@media all and (min-width: 600px)
{
    #commandes{
        justify-content: space-between;
    }
}
@media all and (min-width: 1000px)
{
    #commandes{
        justify-content: space-around;
    }
}
#start{
    font-size: 1.4em;
    background-color: lightcoral;
    color: darkred;
}
#nvPartie{
    font-size: 1.4em;
    background-color: lightsalmon;
    color: #A22;
}